label{
    font-size: 17px;
    color:#369191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 384px;
    text-align: right;

}

.formInput{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: right;
    color: #369191;
    background-color: white;
    border: 1px solid #f6ad4e;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    margin: 5px auto 5px auto;
    outline:none; 
}
.formInput::placeholder{
    color: #369191;
    padding-right: 10px;
}
.smallInput{
    width: 100px !important;
    display: inline !important;
    margin-right: 120px;
    text-align: center;
    
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 180px;
    background-color: #f6ad4e;
    color: #369191;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    
}
.tooltip{
    text-align: center; 
    width: 20px; 
    height: 20px; 
    border-radius: 50px;
    border: 1px solid #f6ad4e;
    color: #369191;
    position: relative;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

input [type=button]{
    background-color: #f6ad4d;
}
.smallInput{
    width: 100px !important;
    display: inline !important;
    margin-right: 40px;
    text-align: center;
    display: inline-block;
    
}
.submitButton{
    margin-top: 20px;
    background-color: #f6ad4e !important;
    text-align: center !important;
    font-size: 20px;
}

.timeImg{
    margin-left: 10px;
    height:42px;
    width: 42px;
    display: inline-block;
}

.containTime{
    margin: 20px auto 20px auto;
    width: fit-content;
}
.qualaLogo{
    width: 70px;
    height: 65px;
    margin-right: 200px;
    margin-top: 0 ;
}
.plusButton{
    width: 47px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: #369191;
    font-size: 23px;
 
}
.containPlusButton{
    width: fit-content;
    margin-right: 280px;
    border: 1px solid #f6ad4e;
    border-radius: 30px;
    margin-top: 10px;
    background-color: white;
    font-weight: 600;
}

.titleRegistration{
vertical-align: top;
    font-weight: bold;
    display: inline;
    font-size: 30px;
    text-align: center;
    margin-right: 25px;
}