label{
    font-size: 17px;
    color:#369191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 384px;
    text-align: right;

}
.titleHome{
    align-items: center;
    font-weight: bold;
    display: block;
    font-size: 30px;
    text-align: center;
}

.settings{
    width: 50x;
    height: 40px;
}
.containStettings{
    background: none; 
    border: none; 
    margin: 10px 7px 66px 10px;
}

.timeInDay{
    display: inline-block;
    width: 70%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    margin: 15px auto 15px auto;
}

.timeInDayItem{
    display: inline-block;
    font-size: 16px;
    color:#369191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.containTimeImg{
    display: inline-block;
    vertical-align: top;
    margin-right: 35px;
}
/* .timeImg{
    animation: timeGroth 1s infinite alternate;
} */
.conisNum{
    font-size: 30px; 
    color:#369191; 
    margin-right: 24px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0;
}

.timeSpent{
    background-color: antiquewhite;
}

.missedMed{
    color: red;
    font-weight: 600;
}

@keyframes timeGroth {
     0% {
     width: 30px;
     height: 30px;
     }
     100% {
     width: 40px;
     height: 40px;
     }
 }