<!DOCTYPE html>
<html>

<!-- <head>
    <meta charset="utf-8">
    <title>Angular Demo</title>

</head> -->

<body dir="rtl">
    <header>
        <button class="containStettings" (click)="navigateToSettings()">
            <img class="settings" src="../../../assets/images/settingsIconBG.png">
         </button>
        <div >
            <img class="qualaLogo"  src="../../../assets/images/qualaBG.png" >
        </div>
        <div style="margin-right: 92px;">
            <img style="width: 65px; height: 65px;" src="../../../assets/images/bag-iconBG.png" alt="">
            <span class="conisNum">{{points}}</span>
        </div>    

    </header>
    
    <section>
        <label class="titleHome">מה התוכניות שלנו להיום?</label>
        
        <div *ngIf="medicineToUserByTimeResp1.length>0">
            <div  class="containTimeImg">
                <img style="width: 35px; height: 35px;" src="../../../assets/images/morning.png">
            </div>
            <!-- <div class="timeInDay" [class.timeSpent]="currentTime > medicineToUserByTimeResp1[0].Time">  -->
            <div class="timeInDay" [class.timeSpent]="1 == 1"> 
                <table style="width: 367px;">
                    <tbody>
                        <tr  *ngFor = "let time of medicineToUserByTimeResp1; let i = index">
                            <td style="width: 100px;" class="timeInDayItem" [class.missedMed] = "time.Status == false">{{time.medicineName}}</td>
                            <td style="width: 100px;" class="timeInDayItem">{{time.Dosage}}</td>
                            <td style="width: 75px;" class="timeInDayItem" >
                                <img *ngIf="time.DosageName=='סירופ'" style="width: 60px; height: 30px;" src="../../../assets/images/syrup.svg" alt="">
                                <img *ngIf="time.DosageName=='זריקה'" style="width: 60px; height: 30px;" src="../../../assets/images/injection.svg" alt="">
                                <img *ngIf="time.DosageName=='גלולות'" style="width: 60px; height: 30px;" src="../../../assets/images/pills.svg" alt="">
                                <img *ngIf="time.DosageName=='שאיפה'" style="width: 60px; height: 30px;" src="../../../assets/images/inhaler.svg" alt="">
                                <img *ngIf="time.DosageName=='תרסיס'" style="width: 60px; height: 30px;" src="../../../assets/images/spray.svg" alt="">
                                <img *ngIf="time.DosageName=='טיפות'" style="width: 60px; height: 30px;" src="../../../assets/images/drops.svg" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div *ngIf="medicineToUserByTimeResp2.length>0">
            <div  class="containTimeImg">
                <img style="width: 35px; height: 35px;" src="../../../assets/images/noon.png">
            </div>
            <div class="timeInDay"  [class.timeSpent]="currentTime > medicineToUserByTimeResp1[0].Time">
                <table style="width: 367px;">
                    <tbody>
                        <tr *ngFor = "let time of medicineToUserByTimeResp2; let i = index">
                            <td style="width: 100px;" class="timeInDayItem" [class.missedMed] = "time.Status == false">{{time.medicineName}}</td>
                            <td style="width: 100px;" class="timeInDayItem">{{time.Dosage}}</td>
                            <td style="width: 75px;" class="timeInDayItem" >
                                <img *ngIf="time.DosageName=='סירופ'" style="width: 60px; height: 30px;" src="../../../assets/images/syrup.svg" alt="">
                                <img *ngIf="time.DosageName=='זריקה'" style="width: 60px; height: 30px;" src="../../../assets/images/injection.svg" alt="">
                                <img *ngIf="time.DosageName=='גלולות'" style="width: 60px; height: 30px;" src="../../../assets/images/pills.svg" alt="">
                                <img *ngIf="time.DosageName=='שאיפה'" style="width: 60px; height: 30px;" src="../../../assets/images/inhaler.svg" alt="">
                                <img *ngIf="time.DosageName=='תרסיס'" style="width: 60px; height: 30px;" src="../../../assets/images/spray.svg" alt="">
                                <img *ngIf="time.DosageName=='טיפות'" style="width: 60px; height: 30px;" src="../../../assets/images/drops.svg" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div *ngIf="medicineToUserByTimeResp3.length>0">
            <div class="containTimeImg">
                <img style="width: 35px; height: 35px;" src="../../../assets/images/evening.png">
            </div>
            <div class="timeInDay"  [class.timeSpent]="currentTime > medicineToUserByTimeResp1[0].Time">
                <table style="width: 367px;">
                    <tbody>
                        <tr *ngFor = "let time of medicineToUserByTimeResp3; let i = index">
                            <td style="width: 100px;" class="timeInDayItem" [class.missedMed] = "time.Status == false">{{time.medicineName}}</td>
                            <td style="width: 100px;" class="timeInDayItem">{{time.Dosage}}</td>
                            <td style="width: 75px;" class="timeInDayItem" >
                                <img *ngIf="time.DosageName=='סירופ'" style="width: 60px; height: 30px;" src="../../../assets/images/syrup.svg" alt="">
                                <img *ngIf="time.DosageName=='זריקה'" style="width: 60px; height: 30px;" src="../../../assets/images/injection.svg" alt="">
                                <img *ngIf="time.DosageName=='גלולות'" style="width: 60px; height: 30px;" src="../../../assets/images/pills.svg" alt="">
                                <img *ngIf="time.DosageName=='שאיפה'" style="width: 60px; height: 30px;" src="../../../assets/images/inhaler.svg" alt="">
                                <img *ngIf="time.DosageName=='תרסיס'" style="width: 60px; height: 30px;" src="../../../assets/images/spray.svg" alt="">
                                <img *ngIf="time.DosageName=='טיפות'" style="width: 60px; height: 30px;" src="../../../assets/images/drops.svg" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div *ngIf="medicineToUserByTimeResp4.length>0">
            <div class="containTimeImg">
                <img style="width: 35px; height: 35px;" src="../../../assets/images/evening.png">
            </div>
            <div class="timeInDay"  [class.timeSpent]="currentTime > medicineToUserByTimeResp1[0].Time">
                <table style="width: 367px;">
                    <tbody>
                        <tr *ngFor = "let time of medicineToUserByTimeResp4; let i = index">
                            <td style="width: 100px;" class="timeInDayItem" [class.missedMed] = "time.Status == false">{{time.medicineName}}</td>
                            <td style="width: 100px;" class="timeInDayItem">{{time.Dosage}}</td>
                            <td style="width: 75px;" class="timeInDayItem" >
                                <img *ngIf="time.DosageName=='סירופ'" style="width: 60px; height: 30px;" src="../../../assets/images/syrup.svg" alt="">
                                <img *ngIf="time.DosageName=='זריקה'" style="width: 60px; height: 30px;" src="../../../assets/images/injection.svg" alt="">
                                <img *ngIf="time.DosageName=='גלולות'" style="width: 60px; height: 30px;" src="../../../assets/images/pills.svg" alt="">
                                <img *ngIf="time.DosageName=='שאיפה'" style="width: 60px; height: 30px;" src="../../../assets/images/inhaler.svg" alt="">
                                <img *ngIf="time.DosageName=='תרסיס'" style="width: 60px; height: 30px;" src="../../../assets/images/spray.svg" alt="">
                                <img *ngIf="time.DosageName=='טיפות'" style="width: 60px; height: 30px;" src="../../../assets/images/drops.svg" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </section>
    <footer></footer>
</body>

</html>