<!DOCTYPE html>
<html>

<!-- <head>
    <meta charset="utf-8">
    <title>Angular Demo</title>

</head> -->

<body dir="rtl">
    <header>
        <div style="margin-right: 140px;">
            <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
        </div>
        <button class="containStettings" (click)="navigateToSettings()">
           <img class="settings" src="../../../assets/images/settingsIconBG.png">
        </button>
    </header>
    
    <section>
        <label class="titleHome">מה התוכניות שלנו להיום?</label>
        <div class="timeInDay" >
            <!-- add image and make it clickble only for time > current time -->
            <!-- <img [disabled]="medicineToUserByTimeResp1[0].Time < currentTime" src="" alt=""> -->
            <div  *ngFor = "let morning of medicineToUserByTimeResp1">
                <div *ngIf="morning.Status==false">
                    <div class="timeInDayItem">{{morning.medicineName}}</div>
                    <div class="timeInDayItem">{{morning.dosage}}</div>
                    <div class="timeInDayItem">{{morning.dosageName}}</div>
                </div>

            </div>
        </div>
        <div class="timeInDay" >
            <!-- <img [disabled]="medicineToUserByTimeResp2[1].Time < currentTime" src="" alt=""> -->
            <div  *ngFor = "let morning of medicineToUserByTimeResp2">
                <div *ngIf="morning.Status==false">
                    <div class="timeInDayItem">{{morning.medicineName}}</div>
                    <div class="timeInDayItem">{{morning.dosage}}</div>
                    <div class="timeInDayItem">{{morning.dosageName}}</div>
                </div>

            </div>
        </div>
        <div class="timeInDay" >
            <!-- <img [disabled]="medicineToUserByTimeResp3[2].Time < currentTime" src="" alt=""> -->
            <div  *ngFor = "let morning of medicineToUserByTimeResp3">
                <div *ngIf="morning.Status==false">
                    <div class="timeInDayItem">{{morning.medicineName}}</div>
                    <div class="timeInDayItem">{{morning.dosage}}</div>
                    <div class="timeInDayItem">{{morning.dosageName}}</div>
                </div>

            </div>
        </div>
        <div class="timeInDay" >
            <!-- <img [disabled]="medicineToUserByTimeResp3[2].Time < currentTime" src="" alt=""> -->
            <div  *ngFor = "let morning of medicineToUserByTimeResp4">
                <div *ngIf="morning.Status==false">
                    <div class="timeInDayItem">{{morning.medicineName}}</div>
                    <div class="timeInDayItem">{{morning.dosage}}</div>
                    <div class="timeInDayItem">{{morning.dosageName}}</div>
                </div>

            </div>
        </div>

        <div>כמה נקודות יש לנו ? :)</div>
        <div>{{medicineToUserByTimeResp1[i].Points}}</div>
        
    </section>
    <footer></footer>
</body>

</html>