label{
    font-size: 17px;
    color:#369191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 384px;
    text-align: right;

}
.title{
    align-items: center;
    font-weight: bold;
    display: block;
    font-size: 30px;
    text-align: center;
}
.timeInDay{
    width: 88%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    margin: 15px auto 15px auto;
}

.timeInDayItem{
    display: inline-block;
    font-size: 17px;
    color:#369191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
button{
    font-size: 17px;
    color: #f6ad4d;
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formInput{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: right;
    color: #369191;
    background-color: white;
    border: 1px solid #f6ad4e;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    margin: 5px auto 5px auto;
    outline:none; 
}
.formInput::placeholder{
    color: #369191;
    padding-right: 10px;
}

input [type=button]{
    background-color: #f6ad4d;
}

.submitButton{
    background-color: #f6ad4e !important;
    text-align: center !important;
    font-size: 20px;
    margin-top: 50px;
}

.VmarkSubmit{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    font-size: 50px;
    background-color: #f6ad4e;
    color: white;
    border: none;
    margin-top: 60px;
}

.contsinVMark{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.jump {
    animation: textgrowth 1s alternate infinite;
}

@keyframes textgrowth {
   0% {-webkit-transform: scale(1.1,.9); transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1); transform: scale(1);}
}

.checkMed{
    outline: none; 
    font-weight: 600;
}
.checkMed:focus{ outline: 0;}