

<!DOCTYPE html>
<html>

<body dir="rtl">
        <header>
            <div class="containLogo">
                <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
            </div>
        </header>
        <section>
            <div *ngIf="tryAgain==false">
                <input class="formInput" placeholder="הכנס סיסמא" type="text" [(ngModel)]="password" name="password">
                <div *ngIf="isPawwwordCorrect==false">
                    <p>הסיסמא אינה תואמת את מה שקיים אצלנו במערת, יש באפשרותך לשלוח שוב</p>
                    <input class="formInput submitButton" type="button" placeholder="שלח שוב" (click)="checkPassword()">
                </div>

            </div>
        </section>

    <footer></footer>
</body>

</html>
