

<!DOCTYPE html>
<html>

<body dir="rtl">
        <header style="margin-top: 135px; margin-bottom: 40px;">
            <div class="containLogo">
                <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
            </div>
        </header>
        <section>
            <div *ngIf="tryAgain==false">
                <input class="formInput" placeholder="הכנס סיסמא" type="text" [(ngModel)]="password" name="password">
                <input class="formInput submitButton" type="button" value="אישור" (click)="validatePassword()">
            </div>
            <div *ngIf="isPawwwordCorrect==false">
                <p class="notificationText">                אופס, הסיסמא אינה תואמת לקיים במערת, אנא נסה שנית או בחר לשליחת סיסמא חדשה
                </p>

                <input class="formInput submitButton" type="button" value="שלח לי סיסמא חדשה" (click)="resendPassword()">
                <input class="formInput submitButton" type="button" value="נסה שנית" (click)="tryAgainF()">
            </div>
            <div *ngIf="isChoosePass==true">
                <input class="formInput" placeholder="הכנס כתובת מייל" type="text" [(ngModel)]="email" name="password">
                <input class="formInput submitButton" type="button" value="אישור" (click)="submitNewPassword()">
            </div>
        </section>


    <footer></footer>
</body>

</html>
