<!DOCTYPE html>
<html>

<!-- <head>
    <meta charset="utf-8">
    <title>Angular Demo</title>

</head> -->

<body dir="rtl">
        <header>
                <div class="containTitle">
                    <div class="title">מדי</div>
                </div>
                <div style="width: 40%; align-self: center;">
                    <img class="mediLogoBGimg" src="../../../assets/images/mediLogoBG.png" >
                </div>
            </header>
    <section>
        <h1>לפי זמני היום מתי תעדיף לקבל את ההתראה?</h1>
        <div>
            <img src="../../../assets/images/sun.jpg" height="42" width="42">
            <input type="time" placeholder="HH:mm" min="05:00:00" max="10:00:00">
        </div>
        <div>
            <img src="../../../assets/images/day.jpg" height="42" width="42">
            <input type="time" placeholder="HH:mm" min="05:00:00" max="10:00:00">
        </div>
        <div>
            <img src="../../../assets/images/moon.png" height="42" width="42">
            <input type="time" placeholder="HH:mm" min="05:00:00" max="10:00:00">
        </div>
        <div>
            <img src="../../../assets/images/moon.png" height="42" width="42">
            <input type="time" placeholder="HH:mm" min="05:00:00" max="10:00:00">
        </div>
        <br>
        <input type="button" value="אישור" (click)="setTimeInDay()">

    </section>
    <footer></footer>
</body>

</html>