body{
    background-color: #FEF9F4;
}

label{
    font-size: 17px;
    color:#369191;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}
button{
    font-size: 17px;
    color: #f6ad4d;
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formInput{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: right;
    color: #369191;
    background-color: white;
    border: 1px solid #f6ad4e;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    margin: 7px auto 7px auto;
    outline:none; 
}
.formInput::placeholder{
    color: #369191;
    opacity: 0.5;
    padding-right: 10px;
}
.smallInput{
    width: 100px !important;
    display: inline !important;
    margin-right: 150px;
    text-align: center;
    
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 180px;
    background-color: #f6ad4e;
    color: #369191;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    
}
.tooltip{
    text-align: center; 
    width: 20px; 
    height: 20px; 
    border-radius: 50px;
    border: 2px solid #f6ad4e;
    color: #369191;
    position: relative;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

input [type=button]{
    background-color: #f6ad4d;
}
form{
    padding-right: 7px;
}
.titleRegistration{
    align-items: center;
    font-weight: bold;
    display: block;
    font-size: 30px;
    text-align: center;
}
.submitButton{
    margin-top: 40px;
    background-color: #f6ad4e !important;
    text-align: center !important;
    font-size: 20px;
}

.link{
    margin: 0 5px 0 5px;
    color: #369191;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containLink{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}
