
<html>
<body dir="rtl">
    <header>
        <div class="containLogo">
            <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
        </div>
    </header>

    <section>
        <form name="myForm">
            <label class="titleRegistration">הרשמה</label>

            <label style="margin-right: 60px;">פרטי הגיבור</label>
            <div >
                <input class="formInput" placeholder="שם הגיבור" name="userName" [(ngModel)]="user.userName" type="text">
                <input class="formInput" placeholder="תעודת זהות" name="userId" [(ngModel)]="user.childId" type="text">
                <input class="formInput" placeholder="אימייל" name="userEmail" [(ngModel)]="user.email" type="text">
                <select class="formInput" name="HMO" id="HmoCode" [(ngModel)]="user.userHMO">
                    <option value="0">קופת חולים</option>
                    <option value="1">כללית</option>
                    <option value="2">מאוחדת</option>
                    <option value="3">מכבי</option>
                    <option value="4">לאומית</option>
                </select>
            </div>

            <label  style="margin-right: 60px; width: 100px;">פרטי ההורה</label> 
            <div class="tooltip">?
                <span class="tooltiptext">להוספת אפוטרופוס, יש להקיש על סימן ה + . ניתן להוסיף עד שלושה אפוטרופוסים</span>
              </div>
            <div>
                <input class="formInput" placeholder="שם" type="text" [(ngModel)]="guardian.guardianName" name="guardianName">
                <input class="formInput" placeholder="פלאפון" type="text" [(ngModel)]="guardian.PhoneNumber" name="PhoneNumber">
                <!-- <input class="formInput submitButton smallInput" type="button" value="שלח סיסמא" (click)="sendPassword"> -->
                <!-- <input class="formInput smallInput" placeholder="הכנס סיסמא" type="text" name="password" > -->
                <input type="button" class="formInput smallInput" (click)="addGuardian()" [disabled]="isLessThanThreeGuardian" value="+" style="box-shadow:teal">
            </div>
            <input class="formInput" placeholder="סיסמא" type="text" [(ngModel)]="user.password" name="guardianName">
            <input class="formInput submitButton" type="button" value="אישור" (click)="addUser()">
        </form>
    </section>

    <footer>
        <!-- <a href="tel:+972-053-832-0860" >Call me</a> -->
    </footer>

</body>
</html>