

<!DOCTYPE html>
<html>

<body dir="rtl">
        <header>
            <div class="containLogo">
                <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
            </div>
        </header>
        <section>
            <div class="containTimeOfDatImg">
                <img class="timeImg" src="../../../assets/images/sunVX.png" alt="">
            </div>
            <button class="Vmark">&#10003;</button>
            <button class="Xmark">&#10007;</button>
        </section>

    <footer></footer>
</body>

</html>
    
