<div #alertModal>
    <header>
        <div class="containLogo">
            <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
        </div>
    </header>
    <div id="timeOfAlert">
        <img src="../../../assets/images/sun.jpg" height="42" width="42">
        <div>{{alertTime.alertText}}</div>
        <div>{{alertTime.timeAlert.hours}}</div>
        <div>{{alertTime.timeAlert.minutes}}</div>
    </div>
    <div>
        <button id="okBtn" (click)="stopAlert()" >אישור</button>
        <button id="naggerBtn" (click)="nagger()">אחר כך</button>
    </div>
</div>
    
