<!DOCTYPE html>
<html>
<body dir="rtl">
        <header>
                <div class="containTitle">
                    <div class="title">מדי</div>
                </div>
                <div style="width: 40%; align-self: center;">
                    <img class="mediLogoBGimg" src="../../../assets/images/mediLogoBG.png" >
                </div>
            </header>
    <div id="timeOfAlert">
        <img src="../../../assets/images/sun.jpg" height="42" width="42">
        <div>{{alertTime.alertText}}</div>
        <div>{{alertTime.timeAlert.hours}}</div>
        <div>{{alertTime.timeAlert.minutes}}</div>
    </div>
    <div>
        <button id="okBtn" (click)="stopAlert()" >אישור</button>
        <button id="naggerBtn" (click)="nagger()">אחר כך</button>
    </div>
</body>
</html>