.containTimeOfDatImg{
    margin-left: auto;
    margin-right: auto;
}

.timeImg{
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: block;
}

.Vmark{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    font-size: 50px;
    background-color: #f6ad4e;
    color: white;
    border: none;
    margin-top: 100px;
    margin-right: 60px;
    animation: textgrowth 1s alternate infinite;
}

@keyframes textgrowth {
    0% {-webkit-transform: scale(1.1,.9); transform: scale(1.1,.9);}
    50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
    70% { -webkit-transform: scale(1); transform: scale(1);}
 }

.Xmark{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    font-size: 50px;
    background-color: #f6ad4e;
    color: white;
    border: none;
    margin-top: 100px;
    margin-right: 135px;
}