
<div style="width:100px; background-color: violet">
  
</div>

<nav>
  <a routerLink="/Portal" routerLinkActive="active">Portal    </a>
  <a routerLink="/Registration" routerLinkActive="active">registration    </a>
  <a routerLink="/TimeOfAlert" routerLinkActive="active" class="active">timeofalert     </a>
  <a routerLink="/Settings" routerLinkActive="active">Settings    </a>
  <a routerLink="/Home" routerLinkActive="active">Home  </a>
  <a routerLink="/Alert" routerLinkActive="active">Alert  </a>
  <a routerLink="/MedicinesList" routerLinkActive="active">MedicinesList  </a>
</nav>

<router-outlet></router-outlet>

