
<div style="width:100px; background-color: violet">
  
</div>
<h1>Angular</h1>
<nav>
  <a routerLink="/Registration" routerLinkActive="active">registration </a>
  <a routerLink="/TimeOfAlert" routerLinkActive="active" class="active">timeofalert</a>
  <a routerLink="/Settings" routerLinkActive="active">Settings</a>
  <a routerLink="/Alert" routerLinkActive="active">Alert</a>
</nav>

<router-outlet></router-outlet>

<!-- <a [routerLink]="['/RegistrationUser']" routerLinkActive="active" style="font-size:30px; border-block-width: 3px"></a> -->