
<html>
    <body dir="rtl">
        <header>
            <div class="containLogo">
                <img class="mediLogoBGimg" src="../../../assets/images/LOGOBG.png" >
            </div>
        </header>
    
        <section>
            <div>מדריך למשתמש</div>
            <div>במדריך זה תוכלו למצוא את המידע הרלוונטי על אודות השימוש באפליקצית MEDI</div>

            <div>
                <p>תהליך השימו מתחיל בהרשמה. תהליך ההרשמה מתבצע ע"י ההורים בלבד!
                    בשלב זה האפוטרופוס יכניס את פרטי הילד הכוללים בי"ח שבו הוא חבר.
                    בשלב השני, יהיה עליו למלא פרטים רלונטים על האפוטרופוסים שיפקחו על השימוש באפליקציה
                </p>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
    
        <a href="/Registration">חזרה להרשמה</a>
        <footer>
            <!-- <a href="tel:+972-053-832-0860" >Call me</a> -->
        </footer>
    
    </body>
    </html>